<div class="burger">
    
    {{#if devouredSection}}
        {{#if devoured}}
        {{id}}: {{burger_name}}
        {{/if}}

    {{else}}
        {{#unless devoured}}
        <button type='button' class='btn btn-primary devour-burger-button' data-id="{{id}}">Devour it!</button>
        {{id}}: {{burger_name}}
        {{/unless}}
    {{/if}}

</div>
